<!DOCTYPE html>
<html>
<head><title>Add Student</title></head>
<body>
  <h1>Add New Student</h1>
  <form method="POST" action="/add">
    Name: <input name="Name" required><br/>
    Roll No: <input name="Roll_No" type="number" required><br/>
    WAD Marks: <input name="WAD_Marks" type="number"><br/>
    CC Marks: <input name="CC_Marks" type="number"><br/>
    DSBDA Marks: <input name="DSBDA_Marks" type="number"><br/>
    CNS Marks: <input name="CNS_Marks" type="number"><br/>
    AI Marks: <input name="AI_Marks" type="number"><br/>
    <button type="submit">Add</button>
  </form>
</body>
</html>
